In [5]:
import pandas as pd
import matplotlib.pyplot as plt

Q2. Which borough has the highest and lowest pickup rates?

pickup_dt: Date and time of the data point.

borough: The borough in New York City (e.g., Bronx, Brooklyn, Manhattan, etc.).

pickups: The number of pickups recorded for that hour in the borough.

spd: Speed (assuming it's related to wind speed).

vsb: Visibility (assuming it's related to visibility conditions).

temp: Temperature.

dewp: Dew point.

slp: Sea level pressure.

pcp01: Precipitation in the last hour.

pcp06: Precipitation in the last 6 hours.

pcp24: Precipitation in the last 24 hours.

sd: Snow depth.

hday: A flag or indicator (perhaps for a holiday).

In [6]:
df_borough = pd.read_csv("Resources/clean.csv")
df_borough

,pickup_date,pickup_time,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01,01:00:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01,01:00:00,Brooklyn,1519,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01,01:00:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01,01:00:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01,01:00:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26053,2015-06-30,23:00:00,Brooklyn,990,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26054,2015-06-30,23:00:00,EWR,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26055,2015-06-30,23:00:00,Manhattan,3828,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26056,2015-06-30,23:00:00,Queens,580,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26057,2015-06-30,23:00:00,Staten Island,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N

In [7]:
df_borough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26058 entries, 0 to 26057
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pickup_date  26058 non-null  object
 1   pickup_time  26058 non-null  object
 2   borough      26058 non-null  object
 3   pickups      26058 non-null  int64
 4   spd          26058 non-null  float64
 5   vsb          26058 non-null  float64
 6   temp         26058 non-null  float64
 7   dewp         26058 non-null  float64
 8   slp          26058 non-null  float64
 9   pcp01        26058 non-null  float64
 10  pcp06        26058 non-null  float64
 11  pcp24        26058 non-null  float64
 12  sd           26058 non-null  float64
 13  hday         26058 non-null  object
dtypes: float64(9), int64(1), object(4)
memory usage: 2.8+ MB

In [8]:
df_borough['borough'].unique()

array(['Bronx', 'Brooklyn', 'EWR', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [9]:
# Q2. Which borough has the highest and lowest pickup rates?

In [12]:
# Group the data by 'Borough' and calculate the pickup rate for each borough
pickup_rates = df_borough.groupby('borough')['pickups'].mean().reset_index()

# Find the borough with the highest pickup rate
highest_pickup_rate = pickup_rates['pickups'].max()
highest_pickup_borough = pickup_rates.loc[pickup_rates['pickups'] == highest_pickup_rate, 'borough'].values[0]

# Find the borough with the lowest pickup rate
lowest_pickup_rate = pickup_rates['pickups'].min()
lowest_pickup_borough = pickup_rates.loc[pickup_rates['pickups'] == lowest_pickup_rate, 'borough'].values[0]

In [13]:
pickup_rates

         borough      pickups
0          Bronx    50.667050
1       Brooklyn   534.431269
2            EWR     0.024177
3      Manhattan  2387.253281
4         Queens   309.354824
5  Staten Island     1.601888

In [14]:
print(f"Borough: {highest_pickup_borough}, Highest pickup Rate: {highest_pickup_rate}")

Borough: Manhattan, Highest pickup Rate: 2387.253281142068

In [15]:
print(f"Borough: {lowest_pickup_borough}, Lowest pickup Rate: {lowest_pickup_rate}")

Borough: EWR, Lowest pickup Rate: 0.02417683628827999