In [84]:
import pandas as pd
import matplotlib.pyplot as plt

###Question 3 : How do pickup patterns change throughout the day? 

pickup_dt: Date and time of the data point.

borough: The borough in New York City (e.g., Bronx, Brooklyn, Manhattan, etc.).

pickups: The number of pickups recorded for that hour in the borough.

spd: Speed (assuming it's related to wind speed).

vsb: Visibility (assuming it's related to visibility conditions).

temp: Temperature.

dewp: Dew point.

slp: Sea level pressure.

pcp01: Precipitation in the last hour.

pcp06: Precipitation in the last 6 hours.

pcp24: Precipitation in the last 24 hours.

sd: Snow depth.

hday: A flag or indicator (perhaps for a holiday).

In [85]:
df = pd.read_csv("Resources/clean.csv")
df

,pickup_date,pickup_time,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,2015-01-01,01:00:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,2015-01-01,01:00:00,Brooklyn,1519,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,2015-01-01,01:00:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,2015-01-01,01:00:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,2015-01-01,01:00:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26053,2015-06-30,23:00:00,Brooklyn,990,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26054,2015-06-30,23:00:00,EWR,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26055,2015-06-30,23:00:00,Manhattan,3828,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26056,2015-06-30,23:00:00,Queens,580,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N
26057,2015-06-30,23:00:00,Staten Island,0,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0,N

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26058 entries, 0 to 26057
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   26058 non-null  int64
 1   pickup_date  26058 non-null  object
 2   pickup_time  26058 non-null  object
 3   borough      26058 non-null  object
 4   pickups      26058 non-null  int64
 5   spd          26058 non-null  float64
 6   vsb          26058 non-null  float64
 7   temp         26058 non-null  float64
 8   dewp         26058 non-null  float64
 9   slp          26058 non-null  float64
 10  pcp01        26058 non-null  float64
 11  pcp06        26058 non-null  float64
 12  pcp24        26058 non-null  float64
 13  sd           26058 non-null  float64
 14  hday         26058 non-null  object
dtypes: float64(9), int64(2), object(4)
memory usage: 3.0+ MB

In [73]:

# Step 4: Extract the relevant information for analysis
# We'll use 'pickup_time' and 'pickups' columns.
pickup_data = df[['pickup_time','pickup_date', 'pickups','borough']].copy()

# Step 5: Group the data by time intervals (e.g., hourly) and calculate the average pickups for each interval.

hourly_pickup_patterns = pickup_data.groupby('pickup_time')['pickups'].size()
hourly_pickup_patterns

pickup_time
00:00:00    1080
01:00:00    1086
02:00:00    1086
03:00:00    1086
04:00:00    1086
05:00:00    1086
06:00:00    1086
07:00:00    1086
08:00:00    1086
09:00:00    1086
10:00:00    1086
11:00:00    1086
12:00:00    1086
13:00:00    1086
14:00:00    1086
15:00:00    1086
16:00:00    1086
17:00:00    1086
18:00:00    1086
19:00:00    1086
20:00:00    1086
21:00:00    1086
22:00:00    1086
23:00:00    1086
Name: pickups, dtype: int64

In [74]:
daily_pickup_patterns = pickup_data.groupby('pickup_date')['pickups'].size()
daily_pickup_patterns

pickup_date
2015-01-01    138
2015-01-02    144
2015-01-03    144
2015-01-04    144
2015-01-05    144
             ...
2015-06-26    144
2015-06-27    144
2015-06-28    144
2015-06-29    144
2015-06-30    144
Name: pickups, Length: 181, dtype: int64

In [83]:
pickup_data.groupby('borough')[['pickup_time','pickup_date', 'pickups']].value_counts()

borough        pickup_time  pickup_date  pickups
Bronx          00:00:00     2015-01-02   24         1
                            2015-01-03   44         1
               23:00:00     2015-06-27   167        1
                            2015-06-30   67         1
                            2015-06-29   56         1
                                                   ..
Staten Island  00:00:00     2015-01-05   1          1
                            2015-01-04   0          1
                            2015-01-03   2          1
                            2015-01-02   1          1
               23:00:00     2015-06-30   0          1
Length: 26058, dtype: int64

In [ ]:
#dublicate_g989 = combined_data.loc[combined_data["Mouse ID"].isin(dublicated_id)==True]

# Start by getting the last (greatest) timepoint for each mouse
max_timepoint = clean_df.groupby("Mouse ID")["Timepoint"].max().reset_index()

# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint
treatment_merged = pd.merge(max_timepoint, clean_df, on=["Mouse ID","Timepoint"], how="left")

# Put treatments into a list for for loop (and later for plot labels)
regimen_list = ["Capomulin", "Ramicane", "Infubinol", "Ceftamin"]

# Create empty list to fill with tumor vol data (for plotting)
tumor_vol_data =[]

# Calculate the IQR and quantitatively determine if there are any potential outliers. 
    # Locate the rows which contain mice on each drug and get the tumor volumes
for regimen in regimen_list:
    regimen_data = treatment_merged.loc[treatment_merged["Drug Regimen"] == regimen]
    last_tumor_volume = regimen_data["Tumor Volume (mm3)"]
    tumor_vol_data.append(last_tumor_volume)