In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Q2. Which borough has the highest and lowest pickup rates?

Additional: 
1. Calculate pickups by borough per day
2. try to find polulation for each region，to calculate per capita rate

pickup_dt: Date and time of the data point.

borough: The borough in New York City (e.g., Bronx, Brooklyn, Manhattan, etc.).

pickups: The number of pickups recorded for that hour in the borough.

spd: Speed (assuming it's related to wind speed).

vsb: Visibility (assuming it's related to visibility conditions).

temp: Temperature.

dewp: Dew point.

slp: Sea level pressure.

pcp01: Precipitation in the last hour.

pcp06: Precipitation in the last 6 hours.

pcp24: Precipitation in the last 24 hours.

sd: Snow depth.

hday: A flag or indicator (perhaps for a holiday).

In [12]:
df_borough = pd.read_csv("Resources/clean.csv")
df_borough.head()

,pickup_dt,hour,month,borough,pickups,Wind speed,Visibility,Temperature,dew point,Sea level pressure,Precipitation 01,Precipitation 06,Precipitation 24,Snow depth,Holiday
0,2015-01-01 00:00:00,0,January,Bronx,33.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y
1,2015-01-01 00:00:00,0,January,Brooklyn,517.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y
2,2015-01-01 00:00:00,0,January,EWR,0.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y
3,2015-01-01 00:00:00,0,January,Manhattan,1301.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y
4,2015-01-01 00:00:00,0,January,Queens,243.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y

In [13]:
# Create a dictionary with borough population data
borough_population_data = {
    'borough': ['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island','EWR'],
    'population': [1630000, 2595000, 2301000, 1428000, 472481, 37494704]
}

# Create a DataFrame from the dictionary
borough_population_df = pd.DataFrame(borough_population_data)

borough_population_df

         borough  population
0      Manhattan     1630000
1       Brooklyn     2595000
2         Queens     2301000
3          Bronx     1428000
4  Staten Island      472481
5            EWR    37494704

In [14]:
# Merge the two DataFrames together based on the Year and State they share
df_borough_population = df_borough.merge(borough_population_df, on=["borough"])
df_borough_population.head()

,pickup_dt,hour,month,borough,pickups,Wind speed,Visibility,Temperature,dew point,Sea level pressure,Precipitation 01,Precipitation 06,Precipitation 24,Snow depth,Holiday,population
0,2015-01-01 00:00:00,0,January,Bronx,33.0,6.963889,9.113333,32.252778,15.186111,1019.176667,0.004611,0.081417,0.148689,1.251389,Y,1428000
1,2015-01-01 01:00:00,1,January,Bronx,152.0,5.000000,10.000000,30.000000,7.000000,1023.500000,0.000000,0.000000,0.000000,0.000000,Y,1428000
2,2015-01-01 02:00:00,2,January,Bronx,120.0,3.000000,10.000000,30.000000,6.000000,1023.000000,0.000000,0.000000,0.000000,0.000000,Y,1428000
3,2015-01-01 03:00:00,3,January,Bronx,132.0,5.000000,10.000000,30.000000,8.000000,1022.300000,0.000000,0.000000,0.000000,0.000000,Y,1428000
4,2015-01-01 04:00:00,4,January,Bronx,128.0,5.000000,10.000000,29.000000,9.000000,1022.000000,0.000000,0.000000,0.000000,0.000000,Y,1428000

In [15]:
df_borough_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26064 entries, 0 to 26063
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_dt           26064 non-null  object
 1   hour                26064 non-null  int64
 2   month               26064 non-null  object
 3   borough             26064 non-null  object
 4   pickups             26064 non-null  float64
 5   Wind speed          26064 non-null  float64
 6   Visibility          26064 non-null  float64
 7   Temperature         26064 non-null  float64
 8   dew point           26064 non-null  float64
 9   Sea level pressure  26064 non-null  float64
 10  Precipitation 01    26064 non-null  float64
 11  Precipitation 06    26064 non-null  float64
 12  Precipitation 24    26064 non-null  float64
 13  Snow depth          26064 non-null  float64
 14  Holiday             26064 non-null  object
 15  population          26064 non-null  int64
dtypes: float64(10), int64(2), object(4)
memory usage: 3.2+ MB

In [16]:
df_borough_population['borough'].unique()

array(['Bronx', 'Brooklyn', 'EWR', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [17]:
# Q2. Which borough has the highest and lowest pickup rates?

In [18]:
# Group the data by 'Borough' and calculate the pickup rate for each borough
pickup_rates = df_borough_population.groupby('borough')['pickups'].mean().reset_index()

# Find the borough with the highest pickup rate
highest_pickup_rate = pickup_rates['pickups'].max()
highest_pickup_borough = pickup_rates.loc[pickup_rates['pickups'] == highest_pickup_rate, 'borough'].values[0]

# Find the borough with the lowest pickup rate
lowest_pickup_rate = pickup_rates['pickups'].min()
lowest_pickup_borough = pickup_rates.loc[pickup_rates['pickups'] == lowest_pickup_rate, 'borough'].values[0]

In [19]:
pickup_rates

         borough      pickups
0          Bronx    50.662983
1       Brooklyn   534.427256
2            EWR     0.024171
3      Manhattan  2387.003223
4         Queens   309.339549
5  Staten Island     1.601519

In [20]:
print(f"Borough: {highest_pickup_borough}, Highest pickup Rate: {highest_pickup_rate}")

Borough: Manhattan, Highest pickup Rate: 2387.0032228360956

In [21]:
print(f"Borough: {lowest_pickup_borough}, Lowest pickup Rate: {lowest_pickup_rate}")

Borough: EWR, Lowest pickup Rate: 0.024171270718232045

In [ ]:
#Calculate pickups by borough per day

In [ ]:
#Calculate per capita rate